@media screen and ( min-width: 50px) and (max-width: 576px) {
    .container {
        max-width: none;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }


    .blocks {
        display: flex;
        height: 80%;
        flex-direction: column;
        justify-content: space-between;
    }

    .block_box {
        width: 100%;
        height: 54%;
    }

    .box_items {
        padding-top: 10px;
        height: 50%;
    }

    .box_a {
        height: 20%;
    }

    .box_b {
        height: 85%;
        width: 100%;
    }

    .box_f {
        height: 20%;
        width: 100%;
    }


}


@media screen and ( min-width: 576px) and (max-width: 768px) {
    .container {
        max-width: none;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }


    .blocks {
        display: flex;
        height: 80%;
        flex-direction: column;
        justify-content: space-between;
    }

    .block_box {
        width: 100%;
        height: 65%;
    }

    .box_items {
        margin-top: 20px;
        height: 32%;
    }

    .box_a {
        height: 20%;
    }

    .box_b {
        height: 80%;
        width: 100%;
    }

    .box_f {
        height: 20%;
        width: 100%;
    }


}
